---
import Icon from './Icon.astro';
---



<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gestión de Productos</h2>
		<p>Desarrollo estrategias, defino roadmaps y priorizo backlog para optimizar el valor del producto y la satisfacción del usuario.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pen" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Diseño UX/UI</h2>
		<p>Creo interfaces intuitivas y atractivas, enfocadas en proporcionar una experiencia de usuario excepcional.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="user" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Investigación de Usuarios</h2>
		<p>Analizo necesidades y comportamientos de usuarios para informar decisiones de diseño y producto.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills .stack {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.skills h2 {
		font-size: var(--text-lg);
		color: var(--gray-0);
	}

	.skills p {
		color: var(--gray-300);
		font-size: var(--text-sm);
		line-height: 1.5;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-xl);
		}

		.skills p {
			font-size: var(--text-md);
		}
	}
</style>
